<h1>All Offers</h1>

<h2>A full list of all offers in the database</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Offer Code</th>
      <th>Offer Title</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @offers.each do |offer| %>
    <tr>
      <th scope="row"><%= offer.code %></th>
      <td><%= offer.title %></td>
      <td><%= offer.deadline.try(:strftime, "%Y/%m/%d") %></td>
      <td><%= link_to icon('edit', 'Edit'), edit_offer_path(offer.id), class: "btn btn-primary" %></td>
      <td><%= link_to icon('newspaper-o', 'Show'), offer_path(offer.id), class: "btn btn-info" %></td>
      <td><%= link_to icon('close', 'Delete', class: 'text-danger'), offer_path(offer.id), method: :delete, data: {confirm: "Are you sure you want to delete this offer?"}, class: "btn btn-danger" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to  link_to icon('plus', 'Add New Offer'), new_offer_path, class: "btn btn-default" %>
