<h1>All Offers</h1>

<h2>A full list of all offers in the database</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Offer Code</th>
      <th>Offer Title</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @offers.each do |offer| %>
    <tr>
      <th scope="row"><%= offer.code %></th>
      <td><%= offer.title %></td>
      <td><%= offer.deadline.try(:strftime, "%Y/%m/%d") %></td>
      <td><%= link_to "Edit", edit_offer_path(offer.id) %></td>
      <td><%= link_to "Show", offers_show_path(offer.id) %></td>
      <td><%= link_to "Delete", offers_delete_path(offer.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Add New Offer', new_offer_path, class: "btn btn-default" %>
