<h1>All Offers</h1>

<h2>A full list of all offers in the database</h2>

<% @offers.each do |offer| %>
<tr>
  <td>Offer Code: <%= offer.code %></td><br>
  <td>Offer Title: <%= offer.title %></td><br>
  <%= link_to "Edit", edit_offer_path(offer.id) %>
  <%= link_to "Show", offers_show_path(offer.id) %>
  <%= link_to "Delete", offers_delete_path(offer.id) %><br><br>
</tr>
<% end %>

                          

<%= link_to 'Add New Offer', new_offer_path %>
