<h1>Offer Details</h1>

<p>
	<strong>Offer Code:</strong><br>
	<%= @offers.code %>
</p>
<br>
<p>
	<strong>Offer Title:</strong><br>
	<%= @offers.title %>
</p>
<br>
<p>
	<strong>Description:</strong><br>
	<%= simple_format(strip_tags(@offers.description)) %>
</p>
<br>
<p>
	<strong>House Rules:</strong><br>
	<%= simple_format(strip_tags(@offers.house_rules)) %>
</p>
<br>
<p>
	<strong>Deadline(year/month/day):</strong><br>
	<%= @offers.deadline.strftime("%Y/%m/%d") %>
</p>
<%= link_to "Delete", offers_delete_path %> |
<%= link_to 'Edit', edit_offer_path %> |
<%= link_to 'Back', offers_path %>
