<h1>Offer Details</h1>

<p>
	<strong>Offer Code:</strong><br>
	<%= @offer.code %>
</p>
<br>
<p>
	<strong>Offer Title:</strong><br>
	<%= @offer.title %>
</p>
<br>
<p>
	<strong>Description:</strong><br>
	<%= simple_format(strip_tags(@offer.description)) %>
</p>
<br>
<p>
	<strong>House Rules:</strong><br>
	<%= simple_format(strip_tags(@offer.house_rules)) %>
</p>
<br>
<p>
	<strong>Deadline:</strong><br>
	<%= @offer.deadline.try(:strftime, "%Y/%m/%d") %>
</p>
<%= link_to "Delete", offers_delete_path %> |
<%= link_to 'Edit', edit_offer_path %> |
<%= link_to 'Back', offers_path %>
