<h1>Offer Details</h1>

<p>
	<strong>Offer Code:</strong><br>
	<%= @offers.code %>
</p>
<br>
<p>
	<strong>Offer Title:</strong><br>
	<%= @offers.title %>
</p>
<br>
<p>
	<strong>Description:</strong><br>
	<%= @offers.description %>
</p>
<br>
<p>
	<strong>House Rules:</strong><br>
	<%= @offers.house_rules %>
</p>

<%= link_to "Delete", offers_delete_path %> |
<%= link_to 'Edit', edit_offer_path %> |
<%= link_to 'Back', offers_path %>
